doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/productViewScript.js" defer) 
    body
        header(class="nice-header")
            h1 Lagersystem
            ul 
                li 
                    a Forside
                li 
                    a Produkter
                li 
                    a Andet...

        main 
            ul(class="filter")
                li
                    label Mærke:
                        select
                            option Alle
                            option Mærke 1
                            option Mærke 2
                            option Mærke 3
                li 
                    label Mængde:
                        select
                            option Alle
                            option 10-30
                            option 30-60
                            option 60-100+
                li
                    label Pris:
                        select
                            option Alle
                            option 10-30 kr.
                            option 30-60 kr. 
                            option 60-100+ kr.
                li
                    label Udløbningsdato: 
                        input(type="date")
                li
                    label Lokation:
                        select
                            option Alle
                            option Skåde
                            option Aarhus
                            option Vandrup

            button Register produkt

            table 
                thead
                    tr 
                        th Mærke 
                        th Mængde 
                        th Pris 
                        th Udløbningsdato 
                        th Lokation
                        th Rediger 
                        th Slet
                tbody
                    each product in products
                        tr
                            td= product.brand
                            td= product.quantity + ' stk.'
                            td= product.price + ' kr.'
                            td= product.expirationDate
                            td= product.location
                            td
                                button(onclick=`updateProduct('${product.getId()}')`) Rediger
                            td
                                button(onclick=`deleteProduct('${product.getId()}')`) Slet

        footer 
            p Lagersystem - copyrights reserved since 2023