doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/productViewScript.js" defer) 
    body
        include header
        main 
            ul(class="filter")
                li
                    label Mærke:
                        select(id="brandPicker")
                            option(value="") Alle
                li 
                    label Mængde:
                        select(id="quantityPicker")
                            option(value="") Alle
                li
                    label Pris:
                        select(id="pricePicker")
                            option(value="") Alle
                li
                    label Udløbningsdato: 
                        select(id="dateValue")
                            option Ascending 
                            option Descending
                li
                    label Lokation:
                        select(id="locationPicker")
                            option(value="") Alle

            button(onclick="addProduct()") Register produkt

            table 
                thead
                    tr 
                        th Mærke 
                        th Mængde 
                        th Pris 
                        th Udløbningsdato 
                        th Lokation
                        th Rediger 
                        th Slet
                tbody 
                each product in products
                    tr 
                        td= product.brand
                        td= product.quantity + ' stk.'
                        td= product.price + ' kr.'
                        td= product.getDate()
                        td= product.location
                        td
                            button(onclick=`updateProduct('${product.getId()}')`) Rediger
                        td
                            button(onclick=`deleteProduct('${product.getId()}')`) Slet
        include footer