html(lang="en")
    head 
        title Lagersystem - Salg  
        script(src="/script/productViewScript.js" defer) 
    body
        include header
        main
            each transaction in transactions
                table
                    tr
                        th Produkt ID
                        th Mærke
                        th Antal på lager
                        th Lokation
                        th Antal solgt
                        th Pris
                    each product in transaction.products
                        tr
                            td= product.id
                            td= product.productBrand
                            td= product.quantity
                            td= product.location
                            td= product.amount
                            td= product.productPrice
                    tr 
                        th Bon ID:
                        th= transaction.id
                        th Dato:
                        th= transaction.transactionDate
                        th Bon sum:
                        th= transaction.productSum() + " Kr."
        include footer 
