html(lang="en")
    head 
        title Lagersystem - Salg  
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/productViewScript.js" defer) 
    body
        include header
        main 
            each receipt in receipts
                table 
                    thead
                        tr 
                            th Udløbningsdato 
                            th Transaktionsdato
                            th Antal solgt 
                            th Mærke
                            th Pris 
                            th Mængde 
                            th Lokation
                    tbody
                        each product in receipt 
                            tr
                                td= product.expirationDate
                                td= product.transactionDate
                                td= product.amountSold
                                td= product.brand
                                td= product.price + ' kr.'
                                td= product.quantity + ' stk.'
                                td= product.location
        include footer 
